.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 16px;
  background-color: white;
  height: 300px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.w3-container {
  bottom: 10px;
position: relative;
right: 10px;

}
.w3-leftbar
{
  border-left: 12px solid #3d3dff !important;
}
