<app-header [header]="title"></app-header>
<div class="device-container">
  <p>Here you can find some information about your device status.</p>
  <p class="w3-panel w3-border w3-leftbar w3-border-blue w3-padding-16">
    Neo - Packaging Solutions : v0.43.1
  </p>
  <div class="w3-row-padding w3-margin">
    <div class="w3-col l4 m6 s12" *ngFor="let card of cardData">
      <app-card
        [title]="card.title"
        [status]="card.status"
        [data]="card.data"
      ></app-card>
    </div>
  </div>
</div>
