.w3-border-red {
  border-color: red !important;
}
.w3-border-green {
  border-color: green !important;
}
.w3-border-yellow {
  border-color: yellow !important;
}

.w3-card {
  width: 100%;
  margin: 0 auto;
}
.card {
  height: 250px;        
  overflow: auto;      
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
