<!-- <div class="card">
  <div class="card-header">
    <h3>{{ data.title }}</h3>
    <button class="status-button" [ngClass]="getStatusClass(data.status)">
      {{ data.status }}
    </button>
  </div>
  <p class="card-content">{{ data.content }}</p>
  <div class="status-details">{{ data.details }}</div>
</div> -->

<div class="w3-card">
  <div class="w3-container">
    <div class="w3-bar">
      <p class=" w3-left">{{ data.title }}</p>
      <button class="w3-button w3-right" [ngClass]="getStatusClass(data.status)">{{ data.status }}</button>
    </div>
    <hr>
    <p class="card-content">{{ data.content }}</p>
    <div class="status-details">{{ data.details }}</div>
  </div>
</div>

