<div class="w3-sidebar w3-bar-block w3-border w3-border-right">
  <h3 class="w3-bar-item w3-border-bottom" style="font-size: 20px; margin-bottom: 0px; padding-bottom: 20px">
    Neo Gateway
  </h3>
  <div *ngFor="let item of menuItems">
    <a *ngIf="!item.submenu" class="w3-bar-item w3-button w3-border-bottom" [routerLink]="item.path"
      routerLinkActive="w3-blue">
      <i *ngIf="item.icon" class="{{ item.icon }}"></i>
      {{ item.label }}
    </a>

    <div *ngIf="item.submenu" class="w3-bar-block">
      <button class="w3-button w3-block w3-left-align w3-border-bottom" (click)="toggleSubmenu(item)">
        <i *ngIf="item.icon" class="{{ item.icon }}"></i>
        {{ item.label }}
        <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
      </button>

      <div *ngIf="item.open" class="w3-hide w3-show">
        <a *ngFor="let sub of item.submenu" class="w3-bar-item w3-button w3-border-bottom" [routerLink]="sub.path"
          routerLinkActive="w3-blue">
          <i *ngIf="sub.icon" class="{{ sub.icon }}"></i>
          {{ sub.label }}
        </a>
      </div>
    </div>
  </div>
</div>
